<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title></title>
    <style type="text/css">
table {
	border-collapse: collapse;
}

td {
	text-align: center;
	padding: 2px;
}
</style>
</head>
<body>
<div align="center">
    <br>
    <h3>Lista Pracowników</h3>
    <br />
    <table border="1">
        <tr>
            <td>Id</td>
            <td>Imie</td>
            <td>Nazwisko</td>
            <td>Wiek</td>
            <td>...</td>
        </tr>
        <tr th:each="emp : ${employees}">
            <td th:text="${emp.id}">id</td>
            <td th:text="${emp.firstName}">imie</td>
            <td th:text="${emp.lastName}">nazwisko</td>
            <td th:text="${emp.age}">wiek</td>
            <td><a th:href="@{/employee/edit/{id}(id=${emp.id})}">Edytuj</a>
                <a th:href="@{/employee/delete/{id}(id=${emp.id})}">Usun</a></td>
        </tr>
    </table>
    <br> <a th:href="@{/employee/add}">Dodaj pracownika</a> <br>
</div>
</body>
</html>